body{
    background-color: #000000;
    color:white;
    overflow:auto;
}
h1{
    font-size:40px;
    margin-top:15px;
    margin-bottom:15px;
    margin-left:10px;
    text-align:left;
}
.article-1{
    color:#FFFFFF;
}
#article-title{
    font-size:30px;
    font-weight:700;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:10px;
    text-align:left;
}
#article-subtitle{
    font-size:25px;
    text-align:left;
    font-weight:600;
    margin-left:10px;
    margin-top:0;
    margin-bottom:8px;
}
#article-body{
    font-size:15px;
    font-weight:500;
    margin:10px;
    margin-top:0;
    text-align:left; 
}
#article-1-box{
    width:300px;
    height:50px;
    border:dotted;
    border-radius:10px;
    text-align:center;
    line-height:50px;
    background-color: #858585;
}
#next-button{
    width:125px;
    height:30px;
    background-color:#000000;
    color:white;
    line-height:10px;
    border-color: #FFFFFF;
    border-radius:20px;
    margin:3px;
}
#next-button:hover{
    background-color: #383838;
    transition:0.1s;
    outline-color: white;
    outline-width:5px;
    transform: scale(1.1,1.1);
}
#last-button{
    width:125px;
    height:30px;
    background-color:#000000;
    color:white;
    line-height:10px;
    border-color: #FFFFFF;
    border-radius:20px;
    margin:3px;
}
#last-button:hover{
    background-color: #383838;
    transition:0.1s;
    outline-color: white;
    outline-width:5px;
    transform: scale(1.1,1.1);
}
.center{
    display:flex;
    justify-content: center;/*수평 가운데 정렬*/
    align-items:center;
    background-color:black;
    color:white;
}
.button-text {
    display: inline-block;
    padding: 10px 20px; /* 버튼처럼 보이게 하기 위한 패딩 */
    background-color: #000000; /* 배경색 */
    color: white; /* 텍스트 색상 */
    text-align: center; /* 텍스트 중앙 정렬 */
    font-size:50px;
    font-weight:700;
    transition: 0.1s;
}

.button-text:hover {
    transform: scale(1.1);
}